<!DOCTYPE html>
<html>
    <head>
        <title>University searcher</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        
        <input id="university_name"  type="text" placeholder="Enter University Name...">
        <button id="search-btn">Search</button>

        <a href="/favourites">Favourites</a>

        <table>
            <thead>
                <td>Name</td>
                <td>state-providence</td>
                <td>Web Page</td>
                <td>Country</td>
                <td>add to favourite</td>
            </thead>
            <tbody id="body">
            </tbody >
        </table>

        <script src="/scripts.js"></script>
    </body>

</html>